{% load static %}
{% load i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% blocktrans %} Yangiliklar.uz {% endblocktrans %}{% endblock %}</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"rel="stylesheet">
{#Montserrat:wght@300;400;500;600;700;800#}

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-icons.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href= "{% static 'assets/css/style.css' %}">

</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand me-lg-5 me-0" href="{% url 'home' %}">
                <img src="{% static 'assets/images/logo.svg' %}" class="logo-image img-fluid" alt="Logo">
            </a>



            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Bosh sahifa</a>
                    </li>

                    {% for categorie in categories %}
                        {% if categorie.sub_category %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">{{ categorie.name }}</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    {% for sub in categorie.sub_category %}
                                    <li><a class="dropdown-item" href="listing-page.html">{{ sub.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post_list' news.slug %}">{{ categorie.name }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Bog'lanish</a>
                    </li>

                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% get_language_info for LANGUAGE_CODE as language %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">{{ language.name_local }}</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">

                            {% for language in languages %}
                            <li><a class="dropdown-item {% if language.code == LANGUAGE_CODE %} active {% endif %}"
                                   href="/{{ language.code }}/">{{ language.name_local }}</a></li>
{#                                {% url 'set_language' %}?language=#}
                            {% endfor %}

                        </ul>

                    </li>

                </ul>

            </div>

        </div>
    </nav>

    {% block content %}

    {% endblock content %}


    </main>


    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="subscribe-form-wrap">
                        <h6>Yangiliklarni pochta orqali qabul qiling</h6>

                        <form class="custom-form subscribe-form" action="#" method="get" role="form">
                            <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*"
                                class="form-control" placeholder="Emailni kiriting!" required="">

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control" id="submit">Obuna bo'lish</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Bog'lanish</h6>

                    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> +99890-696-00-10</p>

                    <p>
                        <strong class="d-inline me-2">Email:</strong>
                        <a href="#">auz.offical@gmail.com</a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12">

                    <h6 class="site-footer-title mb-3">Rasmiiy sahifalar</h6>

                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                <div class="col-lg-2 col-md-3 col-12">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'assets/images/logo.svg' %}" class="logo-image img-fluid" alt="Logo">
                    </a>
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Bosh sahifa</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Browse episodes</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Help Center</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">Copyright © 2023. Barcha huquqlar himoyalangan!
                        <br><br>
                        Yaratuvchi: <a rel="nofollow" href="https://t.me/auzcoder" target="_parent">Abdulhafiz Davlatov</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>