{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<section class="hero-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="text-center mb-5 pb-2">
                    <h2 class="text-white">O'zbekistonda va dunyoda ro'y berayotgan eng so'nggi yangiliklar va xabarlar</h2>

                    <p class="text-white">Bizda eng birinchi yangiliklarni kuzatib boring.</p>
                </div>

                <div class="owl-carousel owl-theme">
                    <div class="owl-carousel-info-wrap item">
                        <img src="{% static 'assets/images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg' %}"
                            class="owl-carousel-image img-fluid" alt="">

                        <div class="owl-carousel-info">
                            <h4 class="mb-2">
                                Candice
                                <img src="{% static 'assets/images/verified.png' %}" class="owl-carousel-verified-image img-fluid"
                                    alt="">
                            </h4>

                            <span class="badge">Storytelling</span>

                            <span class="badge">Business</span>
                        </div>

                    </div>

                    <div class="owl-carousel-info-wrap item">
                        <img src="{% static '' %}assets/images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                            class="owl-carousel-image img-fluid" alt="">

                        <div class="owl-carousel-info">
                            <h4 class="mb-2">
                                William
                                <img src="{% static '' %}assets/images/verified.png" class="owl-carousel-verified-image img-fluid"
                                    alt="">
                            </h4>

                            <span class="badge">Creative</span>

                            <span class="badge">Design</span>
                        </div>

                    </div>

                    <div class="owl-carousel-info-wrap item">
                        <img src="{% static 'assets/images/profile/cute-smiling-woman-outdoor-portrait.jpg' %}"
                            class="owl-carousel-image img-fluid" alt="">

                        <div class="owl-carousel-info">
                            <h4 class="mb-2">Taylor</h4>

                            <span class="badge">Modeling</span>

                            <span class="badge">Fashion</span>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="owl-carousel-info-wrap item">
                        <img src="{% static 'assets/images/profile/man-portrait.jpg' %}" class="owl-carousel-image img-fluid" alt="">

                        <div class="owl-carousel-info">
                            <h4 class="mb-2">Nick</h4>

                            <span class="badge">Acting</span>
                        </div>

                    </div>

                    <div class="owl-carousel-info-wrap item">
                        <img src="{% static 'assets/images/profile/woman-posing-black-dress-medium-shot.jpg' %}"
                            class="owl-carousel-image img-fluid" alt="">

                        <div class="owl-carousel-info">
                            <h4 class="mb-2">
                                Elsa
                                <img src="{% static '' %}images/verified.png" class="owl-carousel-verified-image img-fluid"
                                    alt="">
                            </h4>

                            <span class="badge">Influencer</span>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="trending-podcast-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">O'zbekiston</h4>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="{% static 'images/podcast/12577967_02.jpg' %}" class="custom-block-image img-fluid"
                                alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2 my-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>



                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="{% static 'images/podcast/12577967_02.jpg' %}" class="custom-block-image img-fluid"
                                alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2 my-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>



                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-full">
                    <div class="custom-block-image-wrap">
                        <a href="detail-page.html">
                            <img src="{% static 'images/podcast/12577967_02.jpg' %}" class="custom-block-image img-fluid"
                                alt="">
                        </a>
                    </div>

                    <div class="custom-block-info">
                        <h5 class="mb-2 my-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>



                        <div class="custom-block-bottom d-flex justify-content-between mt-3">
                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-share d-flex flex-column ms-auto">
                        <a href="#" class="badge ms-auto">
                            <i class="bi-heart"></i>
                        </a>

                        <a href="#" class="badge ms-auto">
                            <i class="bi-bookmark"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="latest-podcast-section section-padding pb-0" id="section_2">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-12">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Tavsiya etamiz</h4>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <div class="custom-block d-flex mb-2">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content %}