{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<section class="hero-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="text-center mb-5 pb-2">
                    <h2 class="text-white">O'zbekistonda va dunyoda ro'y berayotgan eng so'nggi yangiliklar va xabarlar</h2>

                    <p class="text-white">Bizda eng birinchi yangiliklarni kuzatib boring.</p>
                </div>

                <div class="owl-carousel owl-theme">

                    {% for news in news_list %}
                    <div class="owl-carousel-info-wrap item">
                        <img src="{{ news.header_images.url }}"
                            class="owl-carousel-image img-fluid" alt="" style="height: 300px; width: 300px">

                        <div class="owl-carousel-info">

                            <h5 class="mb-2" style="font-size: 13px">
                                <img src="{% static 'assets/images/verified.png' %}" style="width: 20px" class="owl-carousel-verified-image img-fluid" alt="Yangilik">
                                {{ news.name | truncatewords:10 }}

                            </h5>

                        </div>

                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</section>


<section class="trending-podcast-section section-padding">
    <div class="container">
        <div class="row">
        {% for c in categories %}
            {% if c.view_home == True %}

                <div class="col-lg-12 col-12 mt-5">
                    <div class="section-title-wrap mb-5">
                        <h4 class="section-title">{{ c.name }}</h4>
                    </div>
                </div>

                {% for news in c.news %}
                <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                    <div class="custom-block custom-block-full">
                        <div class="custom-block-image-wrap">
                            <a href="detail-page.html">
                                <img src="{{ news.header_images.url }}" class="custom-block-image img-fluid"
                                    alt="Yangiliklar rasmi">
                            </a>
                        </div>

                        <div class="custom-block-info">
                            <h5 class="mb-2 my-2">
                                <a href="{{ news.get_absolute_url }}">
                                    {{ news.name | slice:50 }}...
                                </a>
                            </h5>



                            <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                <a href="#" class="bi-alarm me-1">
                                    <span>100k</span>
                                </a>

                                <a href="#" class="bi-calendar-event me-1">
                                    <span>2.5k</span>
                                </a>

                                <a href="#" class="bi-eye-fill me-1">
                                    <span>924k</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}

            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>


<section class="latest-podcast-section section-padding pb-0" id="section_2">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-12">
                <div class="section-title-wrap mb-5">
                    <h4 class="section-title">Tavsiya etamiz</h4>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <div class="custom-block d-flex mb-2">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block d-flex">
                    <div class="">
                        <div class="custom-block-icon-wrap">
                            <div class="section-overlay"></div>
                            <a href="detail-page.html" class="custom-block-image-wrap">
                                <!-- <img src="images/topics/repairman-doing-air-conditioner-service.jpg"
                                    class="custom-block-image img-fluid" alt=""> -->
                            </a>
                        </div>
                    </div>

                    <div class="custom-block-info">

                        <h5 class="mb-2">
                            <a href="detail-page.html">
                                Yangiliklning name yani title ushbu joyda joylashadi va shu yerda aks etadi!
                            </a>
                        </h5>

                        <p class="mb-0">Bu yangilik haqida qisqacha ma'lumotlar joyi hissoblanadi bu qismda faqat full_info qismidan biroz oylashadi</p>

                        <div class="custom-block-bottom d-flex justify-content-between mt-3">

                            <a href="#" class="bi-alarm me-1">
                                <span>100k</span>
                            </a>

                            <a href="#" class="bi-calendar-event me-1">
                                <span>2.5k</span>
                            </a>

                            <a href="#" class="bi-eye-fill me-1">
                                <span>924k</span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content %}